@charset "utf-8";
/* CSS Document */
/*index.css*/
.ibody { background: url(../imgs/bg.png) repeat-y; width:1000px; margin:auto; box-shadow: -2px -1 5px #666;}
.top {background:url(../imgs/fzz.jpg) no-repeat center; height:200px; margin: 10px auto; width:100%; font-family:"MS Serif", "New York", serif;}
header { position: relative; background: url(../imgs/ibodybg.png) top right no-repeat }
header h1 { padding: 15px 0 0 80px; font-size: 40px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; }
header h2 { margin: 20px 80px; color: #8e8d8d }
.nav { display:block; width:80%; font-family:Verdana, Geneva, sans-serif; text-align:center; }
.nav ul { list-style-type:none; margin:0; padding:0; }
.nav ul li { float:left; }
.nav ul li a.text { display:block; width:146px; height:50px; color:#FFF; text-align:center; font-size:30px; padding:5px 0px; background-color:#000;  }
.nav ul li a:hover { background:#C00; color:#000;}
a { text-decoration:none; }
article { width: 73%; float: left; background: url(../imgs/ibodybg.png) 560px -147px no-repeat; }
.logo { background: url(../imgs/logo.jpg) no-repeat left; height:310px; margin:10px auto; width:100%; font-size:16px; font-family:Verdana, Geneva, sans-serif; }
.text { line-height: 26px; padding:90px 0 0 40px; text-shadow:1px 1px #CC3333; width:80% }
.text p { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; -webkit-transform: translate(60px); -moz-transform: translate(60px); -o-transform: translate(60px); -ms-transform: translate(60px); transform: translate(60px); }
.text p:hover { padding-left: 20px }
.text p:nth-child(1) { -webkit-animation: animations 3s ease-out 1s backwards; -moz-animation: animations 3s ease-out 1s backwards; -o-animation: animations 3s ease-out 1s backwards; -ms-animation: animations 3s ease-out 1s backwards; animation: animations 3s ease-out 1s backwards; }
.text p:nth-child(2) { -webkit-animation: animations 3s ease-out 4s backwards; -moz-animation: animations 3s ease-out 4s backwards; -o-animation: animations 3s ease-out 4s backwards; -ms-animation: animations 3s ease-out 4s backwards; animation: animations 3s ease-out 4s backwards; }
@-webkit-keyframes animations { 0% {
-webkit-transform:translate(0);
opacity:0;
}
 50% {
-webkit-transform:translate(30px);
opacity:.5;
}
 100% {
-webkit-transform:translate(60px);
opacity:1;
}
}
@-moz-keyframes animations { 0% {
-moz-transform:translate(0);
opacity:0;
}
 50% {
-moz-transform:translate(30px);
opacity:.5;
}
 100% {
-moz-transform:translate(60px);
opacity:1;
}
}
@-o-keyframes animations { 0% {
-o-transform:translate(0);
opacity:0;
}
 50% {
-o-transform:translate(30px);
opacity:.5;
}
 100% {
-o-transform:translate(60px);
opacity:1;
}
}
@-ms-keyframes animations { 0% {
-ms-transform:translate(0);
opacity:0;
}
 50% {
-ms-transform:translate(30px);
opacity:.5;
}
 100% {
-ms-transform:translate(60px);
opacity:1;
}
}
@keyframes animations { 0% {
transform:translate(0);
opacity:0;
}
 50% {
transform:translate(30px);
opacity:.5;
}
 100% {
transform:translate(60px);
opacity:1;
}
}
.bloglist h2 { border-bottom: #474645 2px solid; margin: 0 8px 20px 8px; height: 40px; overflow: hidden; line-height: 28px; font-size: 16px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; letter-spacing: 2px }
.bloglist h2 p { background: #474645; width: 180px; color: #fff; text-align: center; box-shadow: #999 4px 5px 1px; }
.bloglist h2 p span { color: #38b3d4; }
a.readmore { background: #e41635; color: #fff; padding: 5px 10px; float: right; margin: 10px 0 0 0; margin-right:10%; }
a.readmore:hover { background-color:#fff; color:#F00; }
.blogs { margin: 0 20px 20px 20px; position:relative; }
.blogs ul { float:left; line-height:20px; width:100%; color:#474645; }
.blogs ul h3 { font-size:30px; font-weight:bold; margin-bottom:15px; }
.blogs ul h3 a { color: #474645; }
.blogs ul h3:hover { text-decoration:underline; }
.blogs figure { float: left; width: 40%; overflow: hidden; }
.blogs figure img { width: 100%; margin: auto;}
.writer { float:left; clear: both; margin: 10px 0 0 0; display: inline-block; line-height: 16px; height: 26px; color: #000; background: #CCC; width: 100%; text-align:center; }
.writer span { margin:0 10px;}
.writer span a { color: #759b08; }
.bottom { line-height:12px; font-size:16px; }
.bottom img { background-repeat:repeat-x;}
aside { width: 27%;  float: right; }
.avatar { margin: 10px auto; width: 160px; height: 160px; border-radius: 100%; overflow: hidden; }
.avatar a { display: block; padding-top: 100px; width: 160px; background: url(../imgs/ace.jpg) no-repeat top right; background-size: 160px 160px; }
.avatar a span { display: block; margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; text-align: center; line-height: 20px; color: #fff; background: rgba(0, 0, 0, .5); -webkit-transition: margin-top .2s ease-in-out; -moz-transition: margin-top .2s ease-in-out; -o-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; }
.avatar a:hover span { display: block; margin-top: 0; }
.topspace { background: #F30; padding: 20px 10px; color: #fff; text-shadow: 1px 1px rgba(0,0,0,.3); }
.topspace h1 { font-size: 16px; line-height: 40px; font-weight: bold; }
.about_c { margin: 10px 0; color: #fff; line-height: 26px; }
.about_c p:first-child, .about_c p:nth-child(2), .about_c p:nth-child(3), .about_c p:nth-child(4), .about_c p:last-child{}
.about_c p:first-child { background-position: 15px 6px; }
.about_c p:nth-child(2) { background-position: 15px -20px }
.about_c p:nth-child(3) { background-position: 15px -48px }
.about_c p:nth-child(4) { background-position: 15px -70px }
.about_c p:last-child { background-position:15px -97px }
.about_c p { display: block; padding-left: 40px; }
.about_c p:hover { background: #222 }
.about_c p a:first-child, .about_c p a:nth-child(2), .about_c p a:last-child{};
.about_c p a:first-child { background-position: 15px 4px;}
.about_c p a:nth-child(2) { background-position: 15px -20px }
.about_c p a:last-child { background-position: 15px -50px }
.about_c p a{ color:#fff; display: block; padding-left: 0px; width:27% }
.about_c p a:hover { background: #222 }
/*about.css*/
p.about_self { line-height:20px; font-size:18px; }
/*blog_text.css*/
.bloglist p a { font-size:16px; color:#00C; text-decoration:none; line-height:20px; }
.bolglist p a:hover { color:#000; }
